<div class="panel panel-info">
	<div class="panel-heading">
		<h4 class="panel-title">Human-written summary</h4>
	</div>
	<div class="panel-body">
		<p class='summary-content'><%= gold_summary %></p>
	</div>
</div>