<div id="sidebar">
	<div class="search">
		<input type="text" class="form-control" name="query" id='search-bar' placeholder='type to search...'/>
	</div>
	<div id="doc-list-section">
	</div>
</div>
<div id="main-content-section">
</div>