<div class="panel panel-warning">
	<div class="panel-heading">
		<h4 class="panel-title"><%= model_name %></h4>
	</div>
	<div class="panel-body">
		<p class='summary-content'><%= content %></p>
	</div>
</div>